@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
	/*font-size: 2.2vw;*/
	font-family: 'Noto Sans', sans-serif;
}

.trigger {
	border-bottom: 1px solid darkgrey;
}

.t-comment,.t-item{
	font-size: 60%;
	color: darkgrey;
}

.t-host {
	font-weight: bold;
}

.t-date {
	font-size: 50%;
}

.t-p {
	font-size: 50%;
	text-transform: uppercase;
  border-right: 1px solid darkgrey;
}
.t-1 {
	background-color: red;
	color: white;
}

.t-2 {
	background-color: orange;
}

.t-3 {
	background-color: yellow;
}

.t-4 {
	background-color: lightgray;
}

.t-1:before {
   font-family: FontAwesome;
   content: "\f0f3";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

.t-2:before {
   font-family: FontAwesome;
   content: "\f0e7";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

.t-3:before {
   font-family: FontAwesome;
   content: "\f06a";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

.t-4:before {
   font-family: FontAwesome;
   content: "\f05a";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

.t-5:before {
   font-family: FontAwesome;
   content: "\f0a3";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

.btn-circle {
  width: 6vw;
  height: 4vw;
  text-align: center;
  padding: 6px 0;
  font-size: 75%;
  line-height: 1.428571429;
  border-radius: 1vw;
	background-color: green;
	border-color: green;
	color: white;
	margin-top: 0.3vw;
}
