@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic);

main, article, header, footer, aside {
	display: block;
}

html, body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}

body {
	font-family: 'Lato', Calibri, sans-serif;
	font-size: 1.2em;
	line-height: 1.5;
	background: white;
	color: #333333;
  font-weight: 400;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  font-family: 'Lato', Calibri, sans-serif;
  font-size: 3.2em;
  padding: 10px;
  border-bottom:2px solid lightgray;
}

/* High */
td.P4 {
  background-color: red;
  color: white;
  font-size: 110px;
}

/* Average */
td.P3 {
  background-color: orange;
  color: white;
  white-space: nowrap;
  font-size: 110px;
}

/*Warnings*/
td.P2 {
  background-color: yellow;
  color: black;
  white-space: nowrap;
  font-size: 110px;
}

/*Information*/
td.P1 {
  background-color: white;
  color: black;
  white-space: nowrap;
  font-size: 110px;
}

/*Ackknowledeged Triggers*/
td.P0 {
  background-color: green;
  color: white;
  white-space: nowrap;
  font-size: 110px;
}

.RECOVERED {
  background-color: green;
  color: white;
}

.Date {
  font-weight: 400;
  font-size: 50px;
  white-space: nowrap;
  background:#ccc;
  color:#505050;
  text-shadow: 1px 1px 0px #fff;
  vertical-align: top;
  padding: 30px;
}

.Hostname {
  font-weight: 400;
  font-size: 80px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid white;
}

.Trigger {
  font-weight: bold;
  font-size: 80px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px #DCDCDC;
  border-top: 1px solid white;
}


tr {
  border: 1px solid black;
}

h1, h2, h3, h4, h5, h6, dt {
  font-family: 'Lato', Calibri, sans-serif;
  color: #4C4A4A;
  /* text-rendering: optimizeLegibility; */
  font-weight: 400;
}

#player {
  height: 0px;
  width:0px;
  position: absolute;
  top:0px;
  left:0px;
  visibility: hidden; 
}

#clockblock { font-size: 50px;
         background: darkgray;
         padding: 10px;
         color: white;  }

.sa_spruch { font-size: 60px; }
.sa_powered {hight:0px; visibility:hidden;}
#noproblems { font-size: 90px; margin-right:auto; margin-left:auto; font-weight: bold; color: orange;text-align: center ; margin-top:50px; margin-bottom:50px; }

.ack { color: darkred; }
.ack_date {font-size: 0.6em;}
.ack_alias { font-size: 0.8em; font-weight: 300;}
.ack_message { font-size: 0.8em; font-style: italic;font-weight: 300;}


