{% include 'header.html' %}
    <body>
      <div class="container-fluid">
        {% for trigger in triggers %}
            <div class="row trigger">
                <div class="col-xs-1 t-p t-{{ trigger.priority }}">
                  {% if display_severity == 1 %}
                    {{ trigger.priority|priorities }}
                  {% endif %}<br>
                  {{ trigger.lastchange|date("G:i d.m.y") }}
                </div>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-5 t-host">{{ trigger.host }}</div>
                    <div class="col-xs-7 t-desc">{{ trigger.description }}</div>
                  </div>
                  {% if display_comments == 1 and trigger.comments %}
                  <div class="row t-comment">
                    <div class="col-xs-12">{{ trigger.comments }}</div>
                  </div>
                  {% endif %}
                  {% if display_item == 1 %}
                  <div class="row t-item">
                    <div class="col-xs-12">{{ trigger.itemname}} = {{ trigger.itemvalueu|itemvalue }}</div>
                  </div>
                  {% endif %}
                </div>
                <div class="col-xs-1">
                  {% if trigger.ackInitials %}

                    <button type="button" class="btn btn-default btn-circle">
                      <i class="fa fa-check-square-o"></i> {{ trigger.ackInitials }}</button>
                  {% endif %}
                </div>
            </div>
        {% endfor %}
        </ul>
      </div>
    </body>
</html>
